body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 600px;
  height: 600px;
}

.row {
  display: flex;
  flex: 1 1 auto;
}

.cell {
  background-color: maroon;
  -webkit-user-select: none;  /* issues with mouseup events not firing, makes element non-draggable */
  flex: 1 1 auto;
}



