.cell {
  border-style: dotted;
  width: 32px;
  height: 42px;
  background-color: maroon;
  -webkit-user-select: none;  /* issues with mouseup events not firing, makes element non-draggable */
}

.row {
  display: flex;
}

.container {

}
